@font-face {
	font-family: 'DMSans';
	src: url('../fonts/DMSans-Regular.eot');
	src: local('☺'), url('../fonts/DMSans-Regular.woff') format('woff'), url('../fonts/DMSans-Regular.ttf') format('truetype'), url('../fonts/DMSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'DMSans';
	src: url('../fonts/DMSans-Medium.eot');
	src: local('☺'), url('../fonts/DMSans-Medium.woff') format('woff'), url('../fonts/DMSans-Medium.ttf') format('truetype'), url('../fonts/DMSans-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'DMSans';
	src: url('../fonts/DMSans-Bold.eot');
	src: local('☺'), url('../fonts/DMSans-Bold.woff') format('woff'), url('../fonts/DMSans-Bold.ttf') format('truetype'), url('../fonts/DMSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-SemiBold.eot');
	src: local('☺'), url('../fonts/Poppins-SemiBold.woff') format('woff'), url('../fonts/Poppins-SemiBold.ttf') format('truetype'), url('../fonts/Poppins-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}