.buttons {
	margin-bottom: 130px;
}
.buttons__head {
	margin-bottom: 24px;
}
.buttons__title {
	font-weight: 500;
	font-size: 34px;
	line-height: 40px;
	letter-spacing: 0.25px;

	margin-bottom: 18px;
}
.buttons__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.44px;
}
.buttons__img {
	& img {
		max-width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.buttons {
		margin-bottom: 32px;
	}
}